[submodule "modules/anim8"]
	path = modules/anim8
	url = https://github.com/kikito/anim8
[submodule "modules/flux"]
	path = modules/flux
	url = https://github.com/rxi/flux
[submodule "modules/splashes"]
	path = modules/splashes
	url = https://github.com/love2d-community/splashes
[submodule "modules/concord"]
	path = modules/concord
	url = https://github.com/Tjakka5/Concord
[submodule "modules/lily"]
	path = modules/lily
	url = https://github.com/MikuAuahDark/lily.git
[submodule "modules/hump"]
	path = modules/hump
	url = https://github.com/vrld/hump
[submodule "modules/batteries"]
	path = modules/batteries
	url = https://github.com/1bardesign/batteries
[submodule "modules/log"]
	path = modules/log
	url = https://github.com/flamendless/log.lua
[submodule "modules/enum"]
	path = modules/enum
	url = https://github.com/Tjakka5/Enum
[submodule "modules/lume"]
	path = modules/lume
	url = https://github.com/rxi/lume
[submodule "modules/semver"]
	path = modules/semver
	url = https://github.com/kikito/semver.lua
[submodule "modules/gamera"]
	path = modules/gamera
	url = https://github.com/flamendless/gamera
[submodule "modules/sdf"]
	path = modules/sdf
	url = https://github.com/flamendless/love-sdf-text.git
[submodule "modules/tle"]
	path = modules/tle
	url = https://github.com/flamendless/TimelineEvents
[submodule "modules/bump"]
	path = modules/bump
	url = https://github.com/oniietzschan/bump-niji
[submodule "modules/bitser"]
	path = modules/bitser
	url = https://github.com/gvx/bitser
[submodule "modules/jprof"]
	path = modules/jprof
	url = https://github.com/pfirsich/jprof
[submodule "libs/LPP"]
	path = libs/LPP
	url = https://github.com/ReFreezed/LuaPreprocess/
[submodule "hump"]
	path = hump
	url = https://github.com/vrld/hump
[submodule "modules/slab"]
	path = modules/slab
	url = https://github.com/flamendless/Slab
[submodule "libs/ExportTextureAtlas"]
	path = libs/ExportTextureAtlas
	url = https://github.com/EngineerSmith/Export-TextureAtlas
[submodule "modules/peeker"]
	path = modules/peeker
	url = https://github.com/flamendless/peeker
