[submodule "modules/anim8"]
	path = modules/anim8
	url = https://github.com/kikito/anim8
[submodule "modules/flux"]
	path = modules/flux
	url = https://github.com/rxi/flux
[submodule "modules/splashes"]
	path = modules/splashes
	url = https://github.com/love2d-community/splashes
[submodule "modules/concord"]
	path = modules/concord
	url = https://github.com/Tjakka5/Concord
[submodule "modules/lily"]
	path = modules/lily
	url = https://github.com/MikuAuahDark/lily.git
[submodule "modules/hump"]
	path = modules/hump
	url = https://github.com/vrld/hump
[submodule "modules/batteries"]
	path = modules/batteries
	url = https://github.com/1bardesign/batteries
[submodule "modules/log"]
	path = modules/log
	url = https://github.com/flamendless/log.lua
[submodule "modules/enum"]
	path = modules/enum
	url = https://github.com/Tjakka5/Enum
[submodule "modules/moonshine"]
	path = modules/moonshine
	url = https://github.com/vrld/moonshine
[submodule "modules/lume"]
	path = modules/lume
	url = https://github.com/rxi/lume
