output
output_win
profiler_log_load.txt
tags
temp.lua
test
temp.glsl
scripts/output
scripts/final
scripts/fonts
love-windows_*
makelove-build
release
temp
Slab.ini
res/new_assets
res/_images
res/android
res/audio
res/gallery
res/icons
res/media
res/soundtracks
