[submodule "modules/anim8"]
	path = modules/anim8
	url = https://github.com/kikito/anim8
[submodule "modules/flux"]
	path = modules/flux
	url = https://github.com/rxi/flux
[submodule "modules/splashes"]
	path = modules/splashes
	url = https://github.com/love2d-community/splashes
[submodule "modules/concord"]
	path = modules/concord
	url = https://github.com/Tjakka5/Concord
[submodule "modules/lily"]
	path = modules/lily
	url = https://github.com/MikuAuahDark/lily.git
[submodule "modules/hump"]
	path = modules/hump
	url = https://github.com/vrld/hump
[submodule "modules/batteries"]
	path = modules/batteries
	url = https://github.com/1bardesign/batteries
[submodule "modules/log"]
	path = modules/log
	url = https://github.com/flamendless/log.lua
[submodule "modules/enum"]
	path = modules/enum
	url = https://github.com/Tjakka5/Enum
[submodule "modules/lume"]
	path = modules/lume
	url = https://github.com/rxi/lume
[submodule "modules/semver"]
	path = modules/semver
	url = https://github.com/kikito/semver.lua
[submodule "modules/gamera"]
	path = modules/gamera
	url = https://github.com/kikito/gamera
[submodule "modules/slab"]
	path = modules/slab
	url = https://github.com/coding-jackalope/Slab
[submodule "modules/sdf"]
	path = modules/sdf
	url = https://github.com/flamendless/love-sdf-text.git
[submodule "modules/https"]
	path = modules/https
	url = https://github.com/LPGhatguy/luajit-request.git
[submodule "modules/inspect"]
	path = modules/inspect
	url = https://github.com/kikito/inspect.lua
[submodule "modules/tle"]
	path = modules/tle
	url = https://github.com/flamendless/TimelineEvents
[submodule "modules/json"]
	path = modules/json
	url = https://github.com/rxi/json.lua.git
[submodule "modules/arson"]
	path = modules/arson
	url = https://github.com/flamendless/arson.lua
[submodule "modules/bump"]
	path = modules/bump
	url = https://github.com/oniietzschan/bump-niji
