output
output_test
output_win
profiler_log_load.txt
tags
temp.lua
temp.glsl
scripts/output
scripts/final
scripts/fonts
scripts/output
assets/new_assets/*.gif
love-windows_*
makelove-build
release
temp
Slab.ini
res/_images
res/android
res/audio
res/gallery
res/icons
res/media
res/soundtracks
